@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 8%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 8%;
    --primary: 210 56% 24%;
    --primary-foreground: 210 40% 98%;
    --secondary: 215 20% 47%;
    --secondary-foreground: 210 40% 98%;
    --muted: 214 93% 92%;
    --muted-foreground: 215 20% 47%;
    --accent: 209 54% 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 93% 92%;
    --input: 214 93% 92%;
    --ring: 209 54% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 56% 18%;
    --foreground: 210 40% 98%;
    --card: 210 56% 22%;
    --card-foreground: 210 40% 98%;
    --popover: 210 56% 22%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 210 56% 24%;
    --secondary: 215 20% 38%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 20% 29%;
    --muted-foreground: 214 20% 76%;
    --accent: 209 54% 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72% 45%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 20% 29%;
    --input: 215 20% 29%;
    --ring: 209 54% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
